<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head %>  
      <link rel="stylesheet" href="css/timeline.css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
   <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
 <!-- START: header -->
<!-- add immediately after body tag-->
<div class="container">
  <img class="logo" src="/img/FoodPrintLogo.png" height="70px" width="70px" align="left" vertical-align="middle">
      <a href="/" class="probootstrap-logo" style="color:#0cad1a;font-size:35px;background:-webkit-radial-gradient(#B0A432, #1B1A19);font-variant: small-caps;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  ">CERUS<span> </span></a>
  
      <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
      <div class="mobile-menu-overlay"></div>
  
      <nav role="navigation" class="probootstrap-nav hidden-xs">
      <ul class="probootstrap-main-nav">
          <li <% if (page_name === 'home') { %>class="active" <% } %> ><a href="/">Home</a></li>
          <li <% if (page_name === 'about') { %>class="active" <% } %> ><a href="/about">About</a></li>
          <!-- <li <% if (page_name === 'gallery') { %>class="active" <% } %> ><a href="/gallery">Produce</a></li> -->
          <li <% if (page_name === 'farmers') { %>class="active" <% } %> ><a href="/farmers">Farmers</a></li>
          <li <% if (page_name === 'markets') { %>class="active" <% } %> ><a href="/markets">Distributors</a></li>
          <!-- <li <% if (page_name === 'retailers') { %>class="active" <% } %> ><a href="/retailers">Retailers</a></li> -->
  
          
          <li <% if (page_name === 'login') { %>class="active" <% } %> >
              <% if (user) { %>
                  <a href="/app/auth/logout">Log out (<%=user.username%>)</a>
                <% } else { %>
                  <a href="/app/auth/login"><b>Log in</b></a>
                <% } %>
          </li>
      </ul>
      <div class="extra-text visible-xs">
          <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
          <h5>Connect</h5>
          <ul class="social-buttons">
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook2"></i></a></li>
          <li><a href="#"><i class="icon-instagram2"></i></a></li>
          </ul>
      </div>
      </nav>
  </div>
  <!-- END: header -->
  </header>
  
  <!-- END: header -->

    <section class="probootstrap-slider flexslider">
        <div style="position: absolute; top: 0; left: 0; width: 100%; z-index: 49;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading probootstrap-animate mb20 fadeIn probootstrap-animated" data-animate-effect="fadeIn">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="slides">
            <li style="background-image: url(/img/about_bg.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide" data-thumb-alt=""></li>
        </ul>
        <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul>
   </section>
  <!-- END: slider  -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="probootstrap-section-heading text-center mb50 probootstrap-animate">
        <h4 class="sub-heading">About</h4>
        <h2 class="heading">The Cerus Journey</h2>
      </div>

      <% include ./partials/notificationbar %>

      <div class="row">
        <div class="col-md-9 probootstrap-animate">
          <p><b>Cerus is the project to help people safe from all poisonous organic products and those involving adulterations.</b> </p>
          <p>We simplify production and harvest data collection for smallholder farmers and connect them to market opportunities and services using our blockchain-enabled farm-to-fork supply chain platform. </p>
          <p>We are a team of 3:
            <ul>
              <li><b>Abhijith V S</b></li>
              <li><b>Sudersan S</b></li>
              <li><b>Suvisesh Daniel S </b></li>
            </ul>
          </p>
      </div>
    </div>
  </section>


  <!-- -----------------FEATURES BEGINS---------------- -->
  <section class="probootstrap-section">
    <div class="row" style="background-image: url('/img/pomegranite.jpg'); background-size: cover;">
      <h3 class="heading text-center" style="color: blanchedalmond;">FEATURES & BENEFITS</h3>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
        <div class="service">
          <div class="icon"><i class="icon-leaf" style="color: #007BFF;"></i></div>
          <h2 class="heading">Farmers</h2>
          <hr>
          <p><b>Features</b></p>
          <ul>
            <li>Digital Harvest Logbook</li>
            <li>Wholesale Marketplace</li>
            <li>Produce Reporting & Analytics</li>
            <li>Market Directory (farm-to-fork markets)</li>
            <li>Retailer Directory (farm-to-fork retailers)</li>
          </ul> 
          <hr>
          <p><b>Benefits</b></p>
          <ul>
            <li>Direct access to markets and services</li>
            <li>Get rid of paper records</li>
            <li>View, store and search produce information on demand</li>
            <li>Improve your credibility</li>
            <li>Communicate your contribution to ethical and sustainable farming</li>
            <li>Increase profitability</li>
          </ul>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
        <div class="service">
          <div class="icon"><i class="icon-office" style="color: #007BFF;"></i></div>
          <h2 class="heading">Distributors/Retailers</h2>
          <hr>
          <p><b>Features</b></p>
          <ul>
            <li>Digital Storage/Handover Logbook</li>
            <li>Bulk Wholesale Produce Ordering</li>
            <li>Produce Reporting & Analytics</li>
            <li>Digital Produce Traceability</li>
            <li>Farmer Directory</li>
          </ul>
          <hr>
          <p><b>Benefits</b></p>
          <ul>
            <li>Direct access to farmers and produce</li>
            <li>View, store and search produce information on demand</li>
            <li>Get rid of paper records</li>
            <li>Reliably track produce chain-of-custody</li>
            <li>Demonstrate your commitment to fair, ethical and sustainable food systems</li>
            <li>Increase supply chain efficiency</li>
          </ul>
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
        <div class="service">
          <div class="icon"><i class="icon-users2"  style="color: #007BFF;"></i></div>
          <h2 class="heading">Consumers</h2>
          <hr>
          <p><b>Features</b></p>
          <ul>
            <li>Buy Fresh Produce Online</li>
            <li>QR Codes for Produce Provenance</li>
            <li>Weekly Produce View</li>
            <li>Market Directory (farm-to-fork markets)</li>
            <li>Retailer Directory (farm-to-fork retailers)</li>
          </ul>
          <hr>
          <p><b>Benefits</b></p>
          <ul>
            <li>Schedule your fresh produce purchases by subscribing to seasonal produce boxes delivered weekly</li>
            <li>Scan a QR code to see where your produce is coming from, who the farmer is & when it was harvested</li>
            <li>Buy responsibly</li>
            <li>Buy local and support local producers</li>
          </ul>
        </div>
      </div>
      <!-- <div class="clearfix visible-sm-block"></div>
      <div class="clearfix visible-lg-block visible-md-block"></div> -->
    </div>
</section>
<!-- -----------------FEATURES ENDS------------------ -->

  <!-- start footer -->
  <% include ./partials/footer %>
  <!-- end footer -->  

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>


  <script src="js/scripts.min.js"></script>
  <script src="js/main.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- Sweet Alert Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

  </body>
</html>
